{% extends 'base.html.twig' %}

{% block title %}
	Bienvenue sur le site communautaire SnowTricks
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 1080px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}

		.homePageTitle {
			margin-top: 30vh;
			margin-bottom: 50vh;
			text-align: center;
		}
	</style>

	<div
		class="container-xxl">
		<h1
			class="homePageTitle fw-bold">
			{{titre}},
			<span
				class="d-block fs-6 fst-italic fs-light">
				{{slogan}}
			</span>
		</h1>
            {% if tricks is empty %}
                <div
                    class="alert alert-dismissible alert-warning">
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"></button>
                    <h4
                        class="alert-heading">
                        Attention !
                    </h4>
                    <p
                        class="mb-0">
Pas de figure renseigné,
                        <a
                            href="#"
                            class="alert-link">
                            voulez vous ajouter une figure ?
                        </a>
                    </p>
                </div>
{% else %}

		<ul
			class="list-unstyled row "
			id="tricks">
            {% for figure in tricks %}

				<li
					class=" col-lg-3 col-md-4 col-sm-6 col-12">

					<div
						class="card mb-3">
						<img
							src="{{ asset(figure.getImageId(),'uploaded') }}"
							alt="{{figure.name}}"
							class="img-responsive"
							alt="{{figure.name}}"/>
						<div
							class="card-body d-flex py-1 justify-content-between">
							<h3
								class="card-title">
								<a
									href="{{url('figure_single', { 'slug': figure.slug }) }}" class="card-link">
									{{ figure.name}}
								</a>
							</h3>
							{% if is_granted('ROLE_ADMIN') %}
								<p>
                                <a href="{{ path('app_tricks_edit', {'id':figure.id}) }}" class="card-link">
										Modifier
									</a>
								</p>
								<form
									method="post"
									action="{{ path('app_tricks_delete', {'id': figure.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
									<input
										type="hidden"
										name="_token"
										value="{{ csrf_token('delete' ~ figure.id) }}">
									<button
										class="btn btn-sm py-1 btn-outline-danger">
										Supprimer
									</button>
								</form>
							{% endif %}
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
		{# <a
			href="
							{{ path('loadMoreTricks',{'start': 15 }) }}
							">
			voir plus
		</a> #}
            {% endif %}
	</div>
{% endblock %}

